/* Increase specificity by targeting form-control within a form with a specific class */
.form-inline .custom-form-control {
    padding: .375rem .75rem; /* Smaller padding */
    font-size: .875rem; /* Smaller font size */
    line-height: 1.5;
    border-radius: .2rem;
    width: auto; /* Default width, adjust as needed */
}

/* Ensure this is loaded after Bootstrap's CSS */

.margetop {
            margin-top: 60px !important;
        }